<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.debug.ui.DebugView">
         <menu
               id="org.eclipse.jdt.debug.ui.LaunchView.javaSubmenu"
               label="Java">
            <command
                  commandId="org.basilevs.jstackfilter.eclipse.ui.showIdle"
                  style="toggle">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.debug.ui.DebugView">
         <command
               commandId="org.basilevs.jstackfilter.eclipse.ui.markidle"
               style="toggle">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Hide threads that are known to be idle and uninteresting"
            id="org.basilevs.jstackfilter.eclipse.ui.showIdle"
            name="Show Idle Threads">
         <state
               class="org.eclipse.ui.handlers.RegistryRadioState"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            id="org.basilevs.jstackfilter.eclipse.ui.markidle"
            name="Mark Idle">
         <state
               class="org.eclipse.jface.commands.ToggleState"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.basilevs.jstackfilter.eclipse.ShowIdleThreadsHandler"
            commandId="org.basilevs.jstackfilter.eclipse.ui.showIdle">
         <activeWhen>
            <with
                  variable="activePartId">
               <equals
                     value="org.eclipse.debug.ui.DebugView">
               </equals>
            </with>
         </activeWhen>
      </handler>
      <handler
            class="org.basilevs.jstackfilter.eclipse.MarkIdleHandler"
            commandId="org.basilevs.jstackfilter.eclipse.ui.markidle">
         <activeWhen>
            <and>
               <with
                     variable="activePartId">
                  <equals
                        value="org.eclipse.debug.ui.DebugView">
                  </equals>
               </with>
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="org.eclipse.jdt.debug.core.IJavaThread">
                     </adapt>
                  </iterate>
               </with>
            </and>
         </activeWhen>
      </handler>
   </extension>

</plugin>
